* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* use below if only if overflow happens */
  /* overflow-x:scroll;  */
  /* outline: 1px solid #f00 !important; */
  /* overflow-x: hidden; */

}

body{
  /* overflow: hidden; */
}

.hide{
  display: none;
}

html {
  font-family: "Montserrat", sans-serif;
}
/* popup----------------------------------- */


.popup{
  z-index: 9;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  /* height: 90vh; */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* centralising a fixed div   */
  left: 50%;
  transform: translate(-50%, 0);
  top:60px;
  /* overflow: hidden; */
}

.popup-inner{
  overflow: auto;
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 70% !important;
  /* height: 100%; */
  /* height: 45% !important; */
  padding: 16px;
}

@media screen and (max-width:1200px) {
  .popup-inner{
    overflow: auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 70% !important;

    height: 85% !important;
    padding: 16px;
    margin-bottom: 33px;
  }
  
}


.close-btn{
  position: absolute;
  top: 8px;
  left: 10px;
}



/* navbar----------------------------------- */
.navDiv {
  position: fixed; 
  z-index: 1;
}
/* .nav{
  z-index: 1;

} */

.NavbarItems {
  height: 60px;
  position: sticky;
  width: 100vw;
  
}

.NavbarItems-down {
  width: 100vw;
  height: 60px;
  position: sticky;
  background-color: white;

}

.NavbarLogo {
  color: white;
  font-family: "Bangers", cursive;
  margin-left: 20vw;
  padding-top: 30px;
  display: inline-block;
}

.NavbarLogo-down {
  color: black;
  font-family: "Bangers", cursive;
  margin-left: 20vw;
  padding-top: 30px;
  display: inline-block;

}

.nav-links {
  text-decoration: none;
  color: white;
  margin: 40px 40px 40px 20px;
  font-size: 1rem;

}

.setWhite{
  background-color:white!important;
}
.setBlack{
  background-color:black!important;
}

.nav-links:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.nav-links-down {
  text-decoration: none;
  color: black;
  margin: 40px 40px 40px 20px;
  font-size: 1rem;
  text-align: center;
}

.nav-links-down:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.navbar-right {
  float: right;
  margin-top: 30px;
  margin-left: 19vw;

}

.menu-icon {
  display: none;
}

/* Hero----------------------------------- */
.Hero {
  
  /* width: 100vw; */
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.overlay {
  
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.overlay h1{
  user-select: none;
  -webkit-user-select: text; /* Safari fallback only */
  -webkit-user-select: none;
  padding-bottom: 10px;
}
.overlay p{
  user-select: none;
  user-select: none;
  -webkit-user-select: text; /* Safari fallback only */
  -webkit-user-select: none;

}




.blueGradient{
  background-image: linear-gradient(136.64deg, #00d9ff 1.59%, #564cb0 98.89%) !important;
  background-clip: text !important;
  color: transparent !important;
  -webkit-background-clip: text;
}

.clickAnywhere{
  font-size: 21px;
  font-weight: bold;

}
.easter{
 /* margin-top: 20px; */
 font-size: 1.2rem;
 /* width: 70%; */
 text-align: center;

}
/* about me ---------------------------------------------- */
.about {
  background-color: #f5f5f7;
  padding-left: 20vw;
  padding-top: 60px;
  padding-bottom: 80px;
}
.about h1{
  font-size: 2.4rem;
}


.profile {
  width: 180px;
  border-radius: 50%;
}

.profile-desc {
  margin-top: 50px;
  margin-bottom:20px;
  max-width: 40vw;
  line-height: 1.5;
  font-size: 17px;
}

.resButton {
  /* margin-left: 20px; */

  display: flex;
}
/* experiece--------------------------------------------- */
.experienceDiv {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 80px;
}

/* project--------------------------------------------- */


.introDiv h1{
  margin-left: 20vw;
  padding-bottom: 15px;
  font-size: 2.4rem;
}
.introDiv p{
  margin-left: 20vw;
  padding-bottom: 35px;
}
.projectDiv {
  background-color: #f5f5f7 !important;
  padding-top: 60px;
  padding-bottom: 80px;
}

.projectTitle {
  margin-left: 20vw;
  font-size: 2.4rem;
  padding-bottom: 20px;
}

img {
  margin: 40px 70px 40px 0;
}

.techHeader {
  padding-top: 30px;
  padding-bottom: 20px;

}

.imagesDiv {
  margin-left: calc(20vw - 18px);
  padding-bottom: 20px;

}
.sourceCodeButton {
  margin-top: 10px !important;
  /* margin-left: 20vw !important; */
  border-color: black !important;
  /* border-radius: 8px !important; */
  color: black !important;
  text-transform: none !important;

}



.button {
  margin-top: 10px;
  margin-left: 20vw;
  border-color: black;
  background-color: white;
  border-radius: 25px;
}


.moreInfoButton{
  margin-top: 20px !important;
  text-transform: none !important;
  border-radius: 6px !important;
  
  /* color: grey !important;  */
  /* outline-color: red !important; */

}
.slider{
  margin-left: 20vw;
  width: 75vw;
  height: 430px;



 

}
.iphone{
  /* float: left; */
  display: inline-block !important;
  height: 190px;
  
}
.desktop{
  /* width: 50%; */
  height: 190px !important;

}

.button a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-left: 2px;
  padding-bottom: 10px;
}

.skillBlock{
  /* display: inline !important;  */
  display: flex;
  padding-bottom: 20px;
  overflow-x: auto;

}



.tech-item {
  padding-right: 13px;
  overflow-x: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px;
  /* padding: 10px; */
}

.gicon {
  padding-top: 7px;
}

.button :hover {
  background-color: black;
  color: white;
  border-radius: 25px;
}

.projectDesc {
  display: inline-block;
  width: 55vw;
  margin-left: 20vw;
  line-height: 1.4;
}

/* popup ---------------------------- */
.popupImageDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* skills --------------------------- */
#skills-section {
  background-color: white;
  padding-left: 20vw;
  /* width: 100vw; */
  /* height: 400px; */

  padding-bottom: 40px;
}

.skillsTitle {
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 2.4rem;
}

/* contact me---------------------------- */
#contact-section {
  background-color: #f5f5f7;
  padding-left: 20vw;
  /* width: 100vw; */
  padding-bottom: 40px;
  position: relative;
  z-index: 0;
}

.contactTitle {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 2.4rem;
}

.contactDesc {
  width: 60vw;
}

/* .submitButton{
  z-index: 0;
} */

.submitButton{
  /* background-color: black !important; */
  /* color: black !important; */
  outline-color: black !important;
}

.textFieldDiv {
  padding-top: 40px;
  width: 60vw;
  padding-bottom: 40px;
}

.subject {
  display: block;
}

.textField {
  width: 100%
  
}

/* .submit:hover {
  color: white
} */

/* footer---------------------------- */
footer {
  background-color: #332525;
  padding: 50px;
}

footer h1 {
  color: white;
  font-family: "Bangers", cursive;
  text-align: center;
  padding-bottom: 20px;
}

.socials {
  text-align: center;
}

footer a {
  margin: 30px;
  text-decoration: none;
  color: white;
}

.icon:hover {
  transform: scale(2);
  font-size: 1rem;
}


/* media queries ---------------------------- */
@media only screen and (max-width:1200px) {
  .nav-links {
    margin: 40px 40px 40px 0px;
  }

  .nav-links-down {
    margin: 40px 40px 40px 0px;
  }
}



@media only screen and (max-width:1060px) {
  .grid-container {
    display: grid;
    grid-template-columns: 120px 200px;
    /* padding: 10px; */
  }
  /* .easter{
    max-width: 70vw;
    text-align: center;
  } */
  .experiencePointers{
    max-width: 720px;
  }
 
  .resButton{
    margin-left: 0vw;
    margin-top: 20px;
    margin-left: 30px;
  }
  .menu-icon {
    float: right;
    display: flex;
    padding-top: 25px;
    padding-right: 30px;
    color: black;
    
  }
  .profile-desc {
    padding-top: 0px;
    max-width: 60vw;
    padding-left: 30px;
  }

  .navbar-right {
    display: none;
  }
  .nav-links-active-down{
    text-align: center;
    color: white;
    margin: 40px 40px 40px 0px;
    text-decoration: none;
    

  }
  .nav-links-active-down:hover{
    text-decoration: underline;
    opacity: 0.5;
  }

  .navbar-rightActive {
    /* background-color:  #1c2022; */
    background-color:  black;
    /* position: relative; */
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vw;
    top: 85px;
    transition: all 0.5s ease;
    opacity: 1;
    display:none;


    /* overflow: auto; */
    /* z-index: 1000; */
    
    /* overflow:visible; */
  }

  .nav-links {
    text-align: center;
    
  }
  .desktop{
    width: 75%;
    padding-left: 10px;
  }
}
@media only screen and (max-width:550px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100px 100px;
    /* padding: 10px; */
  }
  .experiencePointers{
    max-width: 250px;
  }
  .clickAnywhere{
    font-size: 16px;
  }
  .easterText{
    font-size: 17px !important;
  }
  .imagesDiv img{
    width: 60%;
    padding-left: 10px;
  }
  .introDiv h1{
    margin-left: 20vw;
    padding-bottom: 15px;
    font-size: 2.8rem;
  }
  .introDiv p{
    margin-left: 20vw;
    padding-bottom: 35px;
    width: 80%;
  }
}
@media only screen and (max-width:440px) {

  .easterText{
    font-size: 14px !important;
  }
  
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */



/* experience */
.jobDuration{
  color: grey;
  font-size: 16px;
  margin: 6px 0px 6px 0px;
}

.experiencePointers{
  max-width: 860px;
}

